.dialog {
  overflow: hidden;
  position: absolute;
  top: 2%;
  height: 600px;
  width: 1000px;
  border: 1px solid #aaa;
  z-index: 1000;
}

.is-hide {
  display: none;
}
.dialog-header {
  overflow: hidden;
  padding: 5px;
}
.dialog-title {
  float: left;
}
.dialog-close {
  float: right;
}
.dialog-content {
  position: relative;
  border: 0;
  padding: 0.5em 1em;
  overflow: auto;
  width: auto;
  height: auto;
}
